{% extends 'base.html.twig' %}

{% block stylesheets %}
			
	<link rel="stylesheet" href="{{ asset('css/input_val.css') }}"/>
{% endblock %}

{% block title %}Nueva empresa
{% endblock %}

{% block nav %}
	{{ include('navbar/simplenavbar.html.twig') }}
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Crear nueva empresa</h1>

		{{ include('enterprise/_form.html.twig') }}

		<a href="{{ path('enterprise_index') }}">Regresar al listado de empresas</a>
	</div>
{% endblock %}
