{% extends 'base.html.twig' %}

{% block title %}Red social
{% endblock %}

{% block body %}

	<div class="container" id="tableArea">
		<h1>Red social</h1>

		<table class="table table-striped">
			<tbody>
				<tr>
					<th>Nombre</th>
					<td>{{ network.name }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('network_index') }}">Regresar al listado de redes sociales</a>

		<a href="{{ path('network_edit', {'id': network.id}) }}">Editar</a>

		{{ include('network/_delete_form.html.twig') }}
	</div>
{% endblock %}
