<div class="container-fluid">
	<div class="abs-center">
		<a href="{{ path('app_login')}}">login</a>
		<img src="{{ asset('img/logo.png') }}" width='400px'/>
		<a href="{{path('app_register')}}">registro</a>
	</div>
</div>
