a,
a:hover {
    text-decoration: none;
    color: grey;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


/* navbar a la derecha */

.mobileNav {
    position: absolute;
    right: 20px;
    top: 0px;
}

.suggestions {
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0);
    height: auto;
    position: relative;
    z-index: 9999;
    width: 318px;
}

[id^="suggestions"] .suggest-element {
    background-color: #eeeeee;
    border-top: 1px solid #d6d4d4;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    /* box-shadow: 4px 1px 13px black; */
    float: left;
}

#tableArea {
    overflow-x: auto;
    overflow-y: auto;
}

.container {
    margin-top: 50px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(15, 43, 152);
}

nav {
    background-color: lightskyblue !important;
}

thead {
    background-color: lightsteelblue;
}

tbody {
    font-size: small;
}

td,
th {
    padding: 0px;
    border: 0px solid;
    margin: 0px;
    height: 2px;
}

table {
    border: 2px solid #000
}

thead {
    border: 3px solid black
}