{% extends 'base.html.twig' %}

{% block title %}Indice de redes sociales
{% endblock %}
{% block nav %}
	{# {{ include('navbar/shownavbar.html.twig') }} #}
{% endblock %}


{% block body %}
	<div class="container" id="tableArea">
		<h1>Indice de redes sociales</h1>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>URL</th>
				</tr>
			</thead>
			<tbody>
				{% for social_network in social_networks %}
					{% if social_network.visible %}
						<tr>
							<td>{{ social_network.url }}</td>
							<td>
								<a href="{{ path('social_network_edit', {'id': social_network.id}) }}">Editar</a>
							</td>
						</tr>
					{% endif %}

				{% else %}
					<tr>
						<td colspan="3">No se han encontrado registros</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('social_network_new', {'identerprise': identerprise}) }}">Crear nueva red social</a>
	</div>
{% endblock %}
