{% extends 'base.html.twig' %}

{% block stylesheets %}
			
	<link rel="stylesheet" href="{{ asset('css/input_val.css') }}"/>
{% endblock %}


{% block title %}Creaci&oacute;n de nuevo cliente
{% endblock %}

{% block nav %}
{{ include('navbar/shownavbar.html.twig') }}   
{% endblock %} 

{% block body %}

	<div class="container">

		<h1>Creaci&oacute;n de nuevo cliente</h1>

		{{ include('client/_form.html.twig') }}

		<a href="{{ path('client_index', {'idempresa': id_empresa }) }}">Volver al listado</a>

	</div>
{% endblock %}
